body {
  font-family: Arial;
  background: #e68f8f;
  text-align: center;
  padding: 50px;
}

form {
  background: rgb(255, 255, 255);
  text-align: right;
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 0 0 10px #f50303;
}

